<div class="ui basic segment">
  <form class="ui form" (ngSubmit)="addTodo(f.value, f)" #f="ngForm">
    <div class="four fields">
      <div class="required field">
        <label>Title</label>
        <input placeholder="Title" name="title" type="text" required [ngModel]="newTodo.title" />
      </div>
      <div class="required field">
        <label>Priority</label>
        <select class="ui dropdown" name="priority" required [ngModel]="newTodo.priority">
          <option *ngFor="let p of priorities"
            [value]="p.key"
            [textContent]="p.value"
            [selected]="p.key == newTodo.priority">
          </option>
        </select>
      </div>
      <div class="required required field">
        <label>Due date</label>
        <input type="datetime-local" name="dueDate" required [ngModel]="newTodo.dueDate" />
      </div>

      <div class="field">
        <label>&nbsp;</label>
        <button class="ui animated submit teal button"
          type="submit"
          [disabled]="!f.valid">
          <div class="visible content">Add</div>
          <div class="hidden content">
            <i class="plus icon"></i>
          </div>
        </button>
      </div>
    </div>
  </form>
</div>
